---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<a href={href}>
	<div class="card bg-neutral p-5 shadow">
		<h2 class="card-title">{title}</h2>
		<p class="card-body">{body}...</p>
	</div>
</a>
